
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7; 
    font-family: 'Arial', sans-serif;
    /* background: url('../assets/img.png') */
  }

  h2{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 12px;
  }
  
  .form-container {
    min-width: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  
  .form-box {
    padding: 40px;
     margin: 20px auto; 
     background: #fff;
     border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    text-align: center; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  input {
    min-width: 45vh;
    padding: 15px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff; 
  }
  
  button {
    padding: 15px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  
 
  .form-footer {
    margin-top: 20px;
  }
  
  .form-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }
  